.h5peditor-memory-game-input-row {
  > .title {
    background: none;
    border: none;
    height: auto;
    line-height: inherit;
    padding: 0;
    color: #454347;

    &::before {
      content: none;
    }
  }

  .h5peditor-memory-game-input-row-content {
    margin: 0;

    .h5peditor-memory-game-input-row-row {
      display: flex;
      flex-direction: row;

      > .field {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin: 0 0 0 0;

        &:not(:last-child) {
          margin-right: 1em;
        }

        > label {
          margin-right: .5em;

          > span {
            font-weight: normal;
            font-size: 12px;
          }
        }

        > input {

        }
      }
    }

    .h5p-errors p {
      margin-bottom: 0;
    }
  }
}
